<launch>
    <!-- Launch file for ouster Ouster LiDAR -->

    <arg name="rviz" default="true" />
    <arg name="config_path" default="$(find gril_calib)/config/prov/insideGarage.yaml" />
    <arg name="serial_vs_subscribe" default="subscribe" />

    <rosparam command="load" file="$(arg config_path)" />
    <param name="serial_vs_subscribe" value="$(arg serial_vs_subscribe)" />
    <param name="config_path" value="$(arg config_path)" />

    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" required="true"/> 

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

    <!-- launch-prefix="gdb -ex run args" -->

</launch>
